.tagsList{
    display: flex;
    flex-wrap: wrap;
    border: none;
    padding-left: 0px;
}
.tagsList LI {
    position: relative;
    color: #333;
    list-style: none;
    border-radius: 5px;
    background: #d4d7ff;
    padding: 5px 28px 5px 10px;
    border: 1px solid #e3e1e1;
    margin-right: 2px;
}
.tagsList .tagDelete {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 24px;
    color: #808080;
    font-size: 18px;
    cursor: pointer !important;
    border-radius: 2px;
    padding: 3px 0px 0px 6px;
    background: #dfdfdf;
    justify-content: center;
}

.tagsAutocompleteList span{
    position: relative;
}
.tagsAutocompleteList ul {
    position: absolute;
    z-index: 99;
    display: block;
    max-height: 300px;
    overflow-y: auto;
    
    margin: 5px 0 0;
    padding: 0px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background: white;
}
.tagsAutocompleteList li{
    list-style: none;
    border-bottom: 1px dotted #eee;
    padding: 5px;
    cursor: pointer;
}
.tagsAutocompleteList li:hover {
    background: #eee;
    font-weight: 600;
}

.tagsDragThis { 
  opacity: 0.5; 
  filter: grayscale(80%);
}
.tagsDragThis::after { content: '↑';  }

/* .tagsDragOver { 
  margin-left: 10px;
  margin-right: 10px;
} */

.tagsDragPlaceholder {
  opacity: 0.7;
  border: 2px dashed #999 !important;
  padding: 0;
  margin: 0 1px;
}
.tagsDragPlaceholder::before { content: '↓'; color: green; font-size: 16px; }